:root {
    --contents-width : 500px;
    --contents-height : 700px;
    --main-size : 400px;
    --color-yellow : #F4CC50;
    --color-red : #E66063;
    --color-white: #ffffff;
    --color-light-white: #eeeeee;
    --font-large : 30px;
    --font-medium : 22px;
    --font-micro : 10px;
}


@font-face {
    font-family: 'UhBeeSe_hyun';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_five@.2.0/UhBeeSe_hyun.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    display: flex;
    font-family: 'UhBeeSe_hyun';
    margin: 0;
    padding: 0;
    justify-content: center;
    background: url(img/background.png) center repeat;
}

button {
    outline: none;
    border: none;
    cursor: pointer;
    width: 300px;
    height: 50px;
    border-radius: 4px;
}

h1 {
    font-size: var(--font-large);
    color: var(--color-white);
}

h3 {
    font-size: var(--font-small);
}


.mbti__contents {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin : 25px 0;
    width: var(--contents-width);
    height: var(--contents-height);
    background-color: var(--color-yellow);
    border-radius: 8px;
    text-align: center;
}

.mbti__start{
    display: block;
}

.mbti__start.--hide{
    display: none;
}

.mbti__startBtn {
    font-family: 'UhBeeSe_hyun';
    background-color: #4DA953;
    color: var(--color-light-white);
}
.mbti__startBtn:hover{
    transform: scale(1.05);
    transition: 300ms ease-in;
}

.main__img {
    width: var(--main-size);
}



.mbti__title{
    font-size: var(--font-medium);
    color: var(--color-white);
}

.mbti__asking {
    text-align: center;
    width: 300px;
}

.mbti__question{
    display: flex;
    flex-direction: column;
    visibility: visible;
}
.mbti__question.--hide{
    visibility: hidden;
}

.mbti__skill__bar {
  background-color: white;
  width: 100%;
  height: 10px;
  border-radius: 5px;
  margin-bottom: 30px;
}
.skill__value {
    background-color: #E66063;
    height: 10px;
    width: 5%;
    border-radius: 5px 0 0 5px;
}

.mbti__selectBtn {
    margin-bottom: 35px;
}

.mbti__copyright {
    position: absolute;
    font-size: var(--font-micro);
    bottom: 10px;
    color: var(--color-white);
}

@media screen and (max-width: 768px){
    :root {
        --contents-width : 400px;
        --contents-height : 600px;
        --font-large : 24px;
        --font-medium : 18px;
        --font-small : 14px;
        --font-micro : 8px;
        --main-size : 300px;
    }
}